/** Styling goes here **/

html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #303030;
}

/* Header Styling */
.kb-header .mdl-layout__header-row {
	padding-left: 40px;
	background-color: #212121;
}

/* Tab Styling */
.mdl-layout__tab-bar {
	background-color: #212121;
}

.mdl-layout__tab-bar-left-button {
	background-color: #212121;
}

.mdl-layout__tab-bar-right-button {
	background-color: #212121;
}

/* Movie title and text color */
h4, p {
	color: #D3D3D3;
}

/*.movie-card.mdl-card{
	float: left;
	margin: 1rem;
	position: relative;
}

.mdl-card__media > img {
	max-width: 100%;
}*/

/*.kb-layout {
	padding-left: 60px;
	padding-top: 20px;
	position: relative;
}*/

.mdl-body main {
	padding-top: 48px;
}


.mdl-body .mdl-card {
	height: 278px;
	display: flex;
	flex-direction: column;
	background-color: #424242;
}

.mdl-body .mdl-card__actions {
	border-color: darkgrey;
}

.mdl-body .mdl-card > * {
	height: auto;
}

/*.mdl-body section.section--center {
	max-wdith: 860px;
}*/

.mdl-body section.section--center {
	max-width: 700px;
	margin-bottom: 48px;
}

.mdl-body main > .page-content {
		padding-bottom: 48px;
}

.mdl-body .mdl-card__actions {
	margin: 0;
	color: inherit;
	padding: 4px 30px;
}

.mdl-body .mdl-card__actions a {
	margin: 0;
}

/* Supporting Text */
.mdl-body .mdl-card .mdl-card__supporting-text {
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
}

.mdl-body .mdl-card .mdl-card__supporting-text h4 {
	margin: 20px;
	margin-bottom: 10px;
}

.mdl-body .mdl-card .mdl-card__supporting-text p {
	margin-top: 30px;
	margin-left: 20px;
}

/* More Info Button and icons */
.mdl-button {
	color: #D3D3D3;
}

.material-icons.md-light{
	color: rgba(255, 255, 255, 1);
}

.centerDiv {
	text-align: center;
}

/* Arrow buttons */
.forward {
	display: inline-block;
	margin-right:-19%;
	outline: 0 none;
}

.backward {
	display: inline-block;
	margin-left:-19%;
	outline: 0 none;
}

/* Image Poster Height if poster is longer than actual size*/
img {
	height: 278px;
}

/* For Overflowing text */
/*.mdl-card__supporting-text {
	height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}*/

/*.mdl-body .kb-layout section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-body section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
