/** Styling goes here **/

.kb-header .mdl-layout__header-row {
	padding-left: 40px;
}

.movie-card.mdl-card{
	float: left;
	margin: 1rem;
	position: relative;
}

.mdl-card__media > img {
	max-width: 100%;
}

.kb-layout {
	padding-left: 60px;
	padding-top: 20px;
	position: relative;
}